@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the GC Classroom Task Web Application. This is where we'll track all of our important tasks.</p>
    <p>Please sign in to create a task or view our current tasks.</p>
</div>
